# 3a. Data Preprocessing (Data Exploration)
In this step I would like to understand the data provided in order to understand: 
* What inferences can be made from it
* Are there any missing values in any column
* Is there any visible relationship between any columns
* How much Data Preprocessing needs to be done and on which column.
* Which columns will be useful for the analysis.

### IMPORTING NECESSARY PACKAGES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### LOADING THE DATASETS

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [5]:
train.shape

(8523, 12)

In [3]:
train.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [6]:
test.shape

(5681, 11)

In [4]:
test.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.30,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1

The **train** dataset has 12 columns while the **test** dataset has 11 columns.<br>
The **test** dataset doesn't have the target variable i.e. <i>Item_Outlet_Sales</i>

**Since we've two datasets test and train it's better to combine them.**<br>
Before merging the two datasets in order to do data preprocessing let's first add a column in each dataframe through which we can determine whether the data is of Test Dataset or Train Dataset.

In [7]:
train['data'] = 1 # 1 means data of training dataset
test['data'] = 0  # 2 means data of Test Dataset

In [11]:
print(train.shape)
print(test.shape)

(8523, 13)
(5681, 12)

### MERGING THE TRAIN AND TEST DATASETS
**Concatenating the train and test dataset, let's call the combined dataset 'df'.**<br>

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,<br>
&emsp;&emsp;&emsp;&emsp;&ensp; keys=None, levels=None, names=None, verify_integrity=False,<br>
&emsp;&emsp;&emsp;&emsp;&ensp; copy=True)

[Pandas Concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

In [13]:
df = pd.concat([train,test],ignore_index=True,sort=False)

In [19]:
print("Train: ", train.shape)
print("Test: ", test.shape)
print("Combined Dataframe", df.shape)

Train:  (8523, 13)
Test:  (5681, 12)
Combined Dataframe (14204, 13)

In [18]:
# Here we can notice that the data column contains 1 which signifies that row is of 'Train' dataset.
df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,data
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1

In [17]:
# Here we can notice that the data column contains 0 which signifies that row is of 'Test' dataset.
df.tail(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,data
14202,FDJ26,15.3,Regular,0.00000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN,0
14203,FDU37,9.5,Regular,0.10472,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,0

### UNDERSTANDING THE ATTRIBUTES

In [32]:
# Having a look at the data types of different columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 13 columns):
Item_Identifier              14204 non-null object
Item_Weight                  11765 non-null float64
Item_Fat_Content             14204 non-null object
Item_Visibility              14204 non-null float64
Item_Type                    14204 non-null object
Item_MRP                     14204 non-null float64
Outlet_Identifier            14204 non-null object
Outlet_Establishment_Year    14204 non-null int64
Outlet_Size                  10188 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Type                  14204 non-null object
Item_Outlet_Sales            8523 non-null float64
data                         14204 non-null int64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.4+ MB

**List of all Columns in the dataset:**
![title](data_meaning.jpg)

In [28]:
# Statistical Summary of Numerical Columns.
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,data
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000,14204.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914,0.600042
std,4.652502,0.051459,62.086938,8.371664,1706.499616,0.489907
min,4.555000,0.000000,31.290000,1985.000000,33.290000,0.000000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400,0.000000
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000,1.000000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400,1.000000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800,1.000000

### MISSING VALUES

In [29]:
# Total Number of NULL Values in Every Column
# From this we can see that we have to deal with missing values from columns "Item_Weight" and "Outlet_Size".
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
data                            0
dtype: int64

**Item_Weight** Since all items of a particular type will have the same Item_Weight, we can impute the missing values with the Item_Weight of the same item using Item_Identifier.<br>

### TARGET VARIABLE (QUANTITATIVE)
**Item_Outlet_Sales**

### CATEGORICAL Predictor VARIABLES 
List of Categorical Variables are:
1. **Item_Identifier**
2. **Item_Fat_Content** => Categories not properly defined
3. **Item_Type** 
4. **Outlet_Identifier**
5. **Outlet_Establishment_Year** => Change datatype to 'str'/'object'/'category'
6. **Outlet_Size** (High/Medium/Small) => Treat Missing values using *Outlet Identifier*, no of items in that store, *Outlet_Type*.
7. **Outlet_Type**

### QUANTITATIVE Predictor VARIABLES
List of Quantitative Variables are:
1. **Item_Weight** => Treat Missing values using *Item_Identifier*.
2. **Item_Visibility** => Items having visibility 0 must be looked at because if the product is not kept in the store then it will not give us any information. (There are 353 such rows out of 5481 rows, Therefore we can even consider removing those rows)
3. **Item_MRP**